.display {
  height: 90%;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
}

.message {
  height: auto;
  padding: 1rem;
  color: #fff;
  border-radius: 2rem;
  font-size: 1rem;
  width: 20rem;
}

.message:not(:last-child){
  margin-bottom: .5rem;
}

.authored {
  background-color: #4f9dde;
  margin-left: auto;
}

.received {
  background-color: #bfbdbd;
}
