.header {
  height: 10%;
  width: 100%;
  background-color: #aeb9cc;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.header > h1 {
  grid-column: 2/3;
  text-align: center;
}

.button {
  background-color: unset;
  border: none;
  outline: none;
  width: 5rem;
  cursor: pointer;
}

.button:active {
  outline: none;
}

.back {
  grid-column: 1/2;
  justify-content: start;
}

.plus {
  grid-column: 3/-1;
  justify-self: end;
}
